<div class="row">
<h2>{{#str}} tagmanagertitle, local_tagmanager {{/str}}</h2>
    <div class="col-md-6">
        <!-- moodleform filepicker -->
        {{{formhtml}}}
        <!-- end moodleform filepicker -->
    </div>
</div>

{{#uploadresults}}
{{{.}}}
{{/uploadresults}}

<h3>{{#str}} tagexporttitle, local_tagmanager {{/str}}</h3>
<div class="d-flex gap-2 mb-4">
  <a href="{{exporturl}}" class="btn btn-info">Export Tags CSV</a>
</div>